# 🌐 Configuración del Dominio y Sitio
DOMAIN_NAME=nmagro-r.42.fr
WP_TITLE=Inception_nmagro_r

# 🗄️ Configuración de la Base de Datos (MariaDB)
MYSQL_ROOT_PASSWORD=SuperSecureRootPassword2026!
MYSQL_DATABASE=inception_db
MYSQL_USER=db_user_nmagro
MYSQL_PASSWORD=SafeDatabaseUserPassword42#
MYSQL_HOSTNAME=mariadb

# 👤 Configuración del WordPress Administrador
# (¡Importante!: El usuario no puede contener "admin" o "administrator" por seguridad)
WP_ADMIN_USER=supervisor_nmagro
WP_ADMIN_PASSWORD=SecureAdminPassword2026$
WP_ADMIN_EMAIL=supervisor@student.42madrid.com

# 👥 Configuración del WordPress Usuario Regular (Obligatorio segundo usuario)
WP_USER=visitor_nmagro
WP_USER_PASSWORD=RegularUserSafePass77*
WP_USER_EMAIL=visitor@student.42madrid.com
## Docker Compose 'lee' este archivo y lo usa en todos los contenedores