# Inception - Environment Variables Configuration
# Panel de configuracion global - conecta con el compose 
# MariaDB Configuration
MYSQL_ROOT_PASSWORD=pass1234
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_PASSWORD=pass1234


# WordPress Configuration
DOMAIN_NAME=nmagro-r.42.fr
WP_TITLE=Inception WordPress Site

# Usuario administrador de WordPress
WP_ADMIN_USER=wp_manager
WP_ADMIN_PASSWORD=pass1234
WP_ADMIN_EMAIL=wpmanager@example.com

# Usuario adicional (no admin)
WP_USER=wpuser
WP_USER_PASSWORD=pass1234
WP_USER_EMAIL=wpuser@example.com

## Docker Compose 'lee' este archivo y lo usa en todos los contenedores